* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
}

.App p {
  display: flex;
  align-items: center;
  min-height: 60px;
  font-size: 24px;
}

.layout {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  width: 600px;
  height: 300px;
  margin: 100px;
}

.starBox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 20px;
}

.starWrapper {
  width: 100px;
  height: 100px;
}

.starBorder {
  position: relative;
  width: 100px;
  height: 100px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background: lightgray;
}

.star {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 96px;
  height: 96px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
